# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
.venv/

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
data/models/*

# Keep folders
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/models/.gitkeep

# Logs
*.log

# macOS
.DS_Store